* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body, html {

    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    margin: 0%;
    font-weight: 500;
    background-color: #00000000;
}

.special {
    color: rgba(255, 255, 255, 0.87);
}

p, h1, h2, h3, h4, h5, h6, li, td {
    color: rgba(255, 255, 255, 0.87);
}

.topbar {
    z-index: 3;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.topbar nav {
    float: left;
    padding: 30px;
}

.topbar nav a {
    color: #ffffff;
    font-weight: 500;
    padding: 0 53px;
    text-decoration: none;
    line-height: 23px;
}

.topbar nav a:hover, .topbar nav a.active {
    color: rgb(0, 0, 0);
}

.topbar .social {
    float: right;
    padding: 30px;
}

.social a {
    padding: 12px;
    opacity: 0.5;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    width: 100%;
    height: 803px;
    background: no-repeat center center / cover url("Images/2.gif");
}


.main {
    float: left;
    background: rgb(0, 0, 0);
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    z-index: 2;
    position: relative;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.articles {
    max-width: 946px;
    padding-left: 333px;
    margin: 50px 0;
    position: relative;
    min-height: 171px;
}

.articles-img {
    width: 308px;
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 25px;
}

.articles-img img {
    width: 100%;
    height: auto;
}

.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", serif;
    margin: 0px 0px 15px 0px;
}

.articles a {
    text-decoration: none;
    color: inherit;
}

.articles a:hover {
    text-decoration: underline;
}

.sidebar {
    float: right;
    background: rgb(0, 0, 0);
    width: 375px;
    padding: 40px;
    font-size: 17px;
    z-index: 1;
    position: relative;
    color: rgb(0, 0, 0);
}

.sidebar-title {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin: 35px 0px;
}

.sidebar-title:first-child {
    margin-top: 0px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.sidebar li {
    padding: 6px 0px;
}

.sidebar li:first-child {
    padding-top: 0px;
}

.sidebar:last-child {
    padding-bottom: 0px;
}

.sidebar hr {
    border: none;
    height: 1px;
    background: rgb(0, 0, 0);
    margin: 50px 0px;
}

.footer {
    clear: both;
}

@media screen and (max-width: 1100px) {
    body {
        display: block;
    }

    .main, .sidebar {
        width: 100%;
    }

    .container .main {
        overflow: hidden;
    }

}

@media screen and (max-width: 740px) {

    .container {
        padding: 0 20px;
    }

    .articles {
        padding-left: 0;
    }

    .articles-img {
        position: static;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 862px) {
    .topbar {
        position: absolute;
    }

    .topbar nav, .topbar .social {
        float: none;
        text-align: center;
    }

    .topbar nav a {
        margin: 5px 20px;
        white-space: nowrap;
        padding: 0;
        display: inline-block;
    }

    .topbar .social {
        padding-top: 0;
    }
}
